.blanket{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
}
/* Window */
.window{
  background-color: #FFF;
  margin: 0 auto;
  max-width: 750px;
  position: relative;
   margin-top: 50px;
   border-radius: 8px;
   overflow: hidden;
}
.window button.close{
  font-size: 16px;
  box-sizing: border-box;
  background-color: #F44336;
  color: #FFF;
  position: absolute;
  top: 0px;
  right:0px;
  width: 32px;
  height: 32px;
  padding: 8px;
  text-align: center;
  border: none;outline: none;
}
.window > .top{
  height: 32px;
  box-sizing: border-box;
  line-height: 16px;
  padding: 8px;
  border-bottom: 1px solid #EAEAEA;
  background-color: #FFF;
}

.window > .content {
  padding: 0px 16px;
}

.window > .content > section{
  padding: 16px;
}
/* CONTROL */
.window > .control {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  background-color: #FFF;
  padding: 8px;
}
.window > .control button{
  padding: 8px 16px;
  margin-left: 8px;
  border: none;
  outline: none;
  background-color: #7986CB;
  border-radius: 4px;
  color: #FFF;
}
#editItemCategory{ }
.window input{
  font-family: 'Source Sans Pro';
  box-sizing: border-box;
  background-color: #F9FBE7;
  margin-top: 16px;
  border: none;
  outline: none;
  padding: 8px 8px;
  font-size: 16px;
  font-weight: 100;
}
.window input.name{
  font-size: 32px;
  width: 100%;
  display: block;
}
.window input.price{
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 400;
}
.window textarea.description{
  font-family: 'Source Sans Pro';
  box-sizing: border-box;
  background-color: #F9FBE7;
  margin-top: 16px;
  border: none;
  outline: none;
  width: 100%;
  display: block;
  padding: 8px 8px;
  font-size: 16px;
  font-weight: 300;
  resize: vertical;
}
#editItemCategory .categoriesListed{
  margin: 0px;
  padding: 0px 0px;
}
#editItemCategory .categoriesListed .pickTag{
  margin-top: 16px;
  background-color: #E8EAF6;
  padding: 8px;
  border-radius: 8px;
  color: #7986CB;
}
#editItemCategory .categoriesListed .pickTag i{
  font-weight: 100;
  font-size: 14px;
}
#editItemCategory .categoriesListed .pickTag > button{
  background-color: #C5CAE9;
  color: #283593;
}
#editItemCategory .categoriesListed .pickTag > button:hover{
  background-color: #7986CB;
  color: #FFF;
}
#editItemCategory .categoriesListed .typeTag{
  display: inline-block;
  box-sizing: border-box;
  height: 24px;
  line-height: 12px;
  font-size: 12px;
  border: none;
  outline: none;
  background-color: #E8EAF6;
  padding: 4px 8px;
  border-radius: 8px;
  margin: 4px;
}

.window > .content > header > h1.filename{
  font-size: 24px;
  font-weight: 100;
}
.window img{
  max-width: 100%;
}
.window .p16 { padding: 16px; }
.window .content > section.image{
  background-color: #FFF;
}
.window .details {
  padding: 16px;
  background-color: #FFF;
}
.window button.spanlink{
  border: none;
  background-color: #EAEAEA;
  padding: 4px 8px;
  width: 100%;
  text-align: left;
  margin-bottom: 4px;
  outline: none;
}
